{% extends "layout.html" %}

{% block body %}
    <div class="card mb-3 border-0" style="max-width: 90vw; background: #000">
        <div class="row g-0 justify-content-md-between">
            <div class="col-md-4">
                <img src={{movie.image}} alt="movie">
            </div>
            <div class="col-sm-16 col-md-6 col-lg-8">
                <div class="card-body; mb-5" style="color: #fff">
                    <h1 class="card-title">{{movie.title}}</h1>
                    <p class="card-text"><span class="text-danger">IMDB Rating: </span>
                        {% if movie.imdb == 'Not Available' or 'N/A' %}
                            Not Available
                        {% else %}
                            {{ movie.imdb }} / 10
                        {% endif %}
                    </p>
                    <p class="card-text"><span class="text-danger">Release Year: </span>{{movie.release_year}}</p>
                    <p class="card-text"><span class="text-danger">Genre: </span>{{movie.genre}}</p>
                    <p class="card-text"><span class="text-danger">Duration: </span>{{movie.duration}} </p>
                    <p class="card-text"><span class="text-danger">Country: </span>{{movie.country}}</p>
                    <p class="card-text"><span class="text-danger">Description: </span>{{movie.description}}</p>
                </div>
                <div class="d-flex justify-content-around">
                    <form action="/" method="GET">
                        <input class="btn btn-warning btn-lg" type="submit" value="Keep Looking">
                    </form>
                    <button class="btn btn-primary btn-lg" id="submit" onclick="save_movie();">Save Movie</button>

                </div>
            </div>
        </div>
    </div>
    <script>
        function save_movie() {
            let entry = {
                movie_id: "{{movie.movie_id}}",
                image: "{{movie.image}}",
                title: "{{movie.title}}",
                release_year: "{{movie.release_year}}",
                duration: "{{movie.duration}}",
                genre: "{{movie.genre}}",
                description: "{{movie.description}}"
            };

            fetch(`${window.origin}/list`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).then((response) => {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                } else {
                    location.reload();
                }
            })
            .catch(function (error) {
                console.log("Fetch error: " + error);
            });
        }
    </script>
{% endblock %}

