{% extends "layout.html" %}

{% block body %}
    <div>
        <img src={{movie.image}} alt="movie">
        <div>
            <h4>{{movie.title}}</h4>
            <p>{{movie.imdb}}/10</p>
            <p>{{movie.release_year}}</p>
            <p>{{movie.genre}}</p>
            <p>{{movie.duration}} </p>
            <p>{{movie.country}}</p>
            <hr>
            <p>{{movie.description}}</p>
        </div>
        <form action="/add" method="POST">
            <h3>Add {{movie.title}} to your list!</h3>
            <input class="movieInput" type="text" name="title" value="{{movie.title}}" />
            <input class="movieInput" type="text" name="release_year" value="{{movie.release_year}}" />
            <input class="movieInput" type="text" name="duration" value="{{movie.duration}}" />
            <input class="movieInput" type="text" name="genre" value="{{movie.genre}}" />
            <input class="movieInput" type="text" name="description" value="{{movie.description}}" />
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

