{% extends "layout.html" %}

{% block body%}
    <div>
        <h1 class="d-flex justify-content-center text-danger mb-5">Movies & Shows to Watch</h1>
        {% if movies|length < 1 %}
        <h3 class="d-flex justify-content-center text-warning mb-5">You haven't saved any movies or shows!</h3>
        {% else %}
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
            {% for movie in movies  %}
                <div class="col mx-auto">
                    <div class="card md-w-60 mb-3 border border-light" style="background: #000">
                        <img class="card-img-top" src={{movie.image}} alt="movie">
                        <div class="card-body" style="color: #fff">
                            <h4 class="card-title">{{movie.title}}</h4>
                            <p class="card-text">{{movie.release_year}}</p>
                            <p class="card-text">{{movie.genre}}</p>
                            <p class="card-text">{{movie.duration}} </p>
                            <p class="card-text">{{movie.description}}</p>
                        </div>
                        <form class="mx-auto mb-3" action='/delete' method="POST">
                            <input class="movieInput" style="display: none" type="text" name="movie_id" value="{{movie.id}}" />
                            <input class="btn btn-danger"  type="submit" value="Remove">
                        </form>
                        <button class="btn btn-danger" onclick="window.open('https://www.netflix.com/watch/{{movie.movie_id}}', '_blank')" target='0'>
                            Watch Now
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}